@import "theme";

body, .app {
  padding: 0;
  margin: 0;
}

.contacts {
  margin: $base * 2 0;
}

.add-button {
  position: absolute !important;
  right: $base * 3;
  bottom: $base * 3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $base * 60;
  height: $base * 50;
  margin-left: -($base * 30);
  margin-top: -($base * 25);
  display: flex;
  flex-direction: column;
  &-top {
    background-color: $primary-color !important;
    width: 100%;
    height: $base * 17.5;
    border-radius: $half $half 0 0 !important;
    display: flex;
    align-items: center;
    &__text {
      color: $primary-color-text;
    }
  }
  &-content {
    flex: auto;
    padding: $base * 3;
    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      &-item {
        box-sizing: border-box;
        flex: 0 0 50%;
        padding-right: $base;
        &:nth-child(2n) {
          padding-right: 0;
          padding-left: $base;
        }
        .MuiTextField-root {
          width: 100%;
        }
      }
    }
    &__buttons {
      margin-top: $base * 3;
      display: flex;
      align-items: center;
      justify-content: center;
      .MuiButton-root {
        margin: 0 $base * 2;
      }
    }
  }
}
