:root {
  --mdc-theme-primary: #03A9F4;
  --mdc-theme-secondary: #CDDC39;
  --mdc-theme-background: #FFFFFF;
  --mdc-theme-surface: #FFFFFF;
  --mdc-theme-on-primary: #FFFFFF;
  --mdc-theme-on-secondary: #FFFFFF;
  --mdc-theme-on-surface: #212121;
  --mdc-theme-primary-bg: #B3E5FC;
  --mdc-theme-secondary-bg: #B3E5FC;
}

body {
  padding: 0;
  margin: 0;
}